

.s1 ul{
  height: 700px;
  background-color: darkgoldenrod;
  list-style-type: none;
  padding-left: 0px;

  display: flex;
  /* flex-flow: column; */
}

.s1 li{
  flex: 0 1 100px;
}

.s1 li:nth-child(1){
  background-color: red;
}

.s1 li:nth-child(2){
  background-color: green;
}

.s1 li:nth-child(3){
  background-color: blue;
}

.s1 li:nth-child(4){
  background-color: yellow;
}

.s1 li:nth-child(5){
  background-color: lightblue;
}