@import url(reset.css);

.s1 ul{
  display: flex;
  background-color: gray;
  /* flex-flow: column; */
}

.s1 li{
  flex-basis: 100px;
  flex-grow: 0.2;
}

.s1 li:nth-child(1){
  background-color: red;
}

.s1 li:nth-child(2){
  background-color: green;
}

.s1 li:nth-child(3){
  background-color: blue;
}

.s1 li:nth-child(4){
  background-color: yellow;
}

.s1 li:nth-child(5){
  background-color: lightblue;
}