@import url(reset.css);

ul {
  height: 700px;
  background-color: yellow;
  position: relative;
}

#s1 li:nth-child(1) {
  background-color: red;
}

#s1 li:nth-child(2) {
  background-color: green;
  position: fixed;
  bottom: 100px;

}

#s1 li:nth-child(3) {
  background-color: blue;

}