.nav {
  position: fixed;
  top: 0;
  left: 0;
}

.nav_wrapper {
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5);
  padding-top: 80px;
}

.nav_wrapper li {
  display: flex;
}

.nav_wrapper li:hover {
  background-color: aqua;
}

.nav_icon {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  padding: 6px 10px;
} 

.nav_menu {
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 6px 10px 6px 0;
}

@media screen and (max-width: 800px) {
  .nav_menu {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .nav_icon {
    display: none;
  }
}