.clearfix::after{
    content:"";
    display:block;
    clear:both;
}

#header{
    margin: 0px auto;
    width: 100%;
    height: 150px;
    background-color:rgb(243, 242, 251);
}
.naver_logo{
    
    height: 100px;
    margin-left: 20%;

}

#container{
    margin: 0px auto;
    width: 100%;
    height: 800px;
    background-color:rgb(243, 242, 251);
}



#send_area{
    width: 50%;
    float: left;
    box-sizing: border-box;
    background-color:rgb(243, 242, 251);

}
#login_area{
    width: 50%;
    margin-right: 50%;
    height: 100%;
    background-color:rgb(255, 255, 255);
    padding-top: 30px;
    box-sizing: border-box;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 2px 2px rgb(219, 218, 221);
 }
#login_id{
    width: 50%;
    margin: 0px 10%;
    height: 50px;
    display: block;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(219, 218, 221);
}
#login_pw{
    width: 50%;
    margin: 10px 10%;
    height: 50px;
    display: block;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(219, 218, 221);
    
 }
 #login_submit{
    width: 50%;
    margin: 0px 10%;
    height: 50px;
    border-radius: 5px 5px 5px 5px;
    border: 0px solid rgb(219, 218, 221);
    background-color:rgb(4, 201, 94);
    font-size: 20px;
    color: white;
 }
 #login_submit:hover{
    border: 1px solid rgb(219, 218, 221);
 }
