h1{ /* 태그명: 문서 내에서 h1 태그명을 사용하는 모든 컨텐츠에 적용 */
    color: red;
    font-weight: bold;
}
.g1{ /* .class을 이용해서 스타일준다. 그룹명 여러개 가능*/
    color: orange;
    font-weight: bold;
}
#name1{ /* #id 문서에서 값이 유일해야 한다. */
    color: aqua;
}
/* ---------------------------------------------------------------- */
#member-menu li{ /* 부모 자손(자식-자식-자식-...) */
    font-size: 20px;
    color: chartreuse;
}
#member-menu > h1{ /* 부모 > 자식 */
    font-size: 20px;
    color:darkviolet
}
#member-menu li.first{ 
    font-size: 20px;
    color: yellow;
}
#member-menu>ul>li.first+.aa { /* 형+동생 -> 인접한동생만적용 */
    font-size: 20px;
    color: aliceblue;
}
#member-menu>ul>li.first~li { /* 형~동생 -> 모든동생적용 */
    font-size: 40px;
    color: aliceblue;
}
#member-menu a[href="../index.html"]{
    font-size: 80px;
    color: red;
}

/* -------------------------------------------------------------------------- */

/*
<h1 style="color: red;font-weight: bold;">메인메뉴</h1> <!-- CSS 개별지정할때 -->
*/