<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0" metadata-complete="false"> <!-- metadata-complete="false"여야지만 어노테이션을 읽는다 -->

	<servlet>
		<servlet-name>dispatcher</servlet-name> <!-- 이름은 내 맘대로 지어도 된다 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> <!-- .class는 지워줘야한다 -->
		<!-- 여기서 설정한 클래스가 아래의 url패턴을 받는다는의미이다. -->
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern> <!-- 위에서 설정한 클래스가 여기의 url을 받는다는 의미이다. -->
		<!-- <url-pattern>/*</url-pattern> 바로 get요청을 한것이든, 포워딩이든 모두 걸리게 된다. 포워딩할때는 걸리면 안되는데.. -->
		<!-- <url-pattern>/</url-pattern> DispatcherServlet을 거치긴한다. DispatcherServlet가 
			갖고있는 id들(url)을 찾아보다가 알맞는 id(url)이 없으면 직접 리소스를 요청하게 해준다.!! 아주좋네. -->
		<!-- 정적인파일은막음. jsp은허락. -->
	</servlet-mapping>

	<display-name>Welcome to Tomcat</display-name>
	<description>
     Welcome to Tomcat
  </description>

</web-app>
