*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  /* 1,2 display: flex */
  display: flex;
  /* display: inline-flex; */
  padding: 0;
  list-style-type:  none;
  height: 300px;
  border: 5px solid red;

  /* 3 flex-direction / flex-wrap / flex-flow */
  /* flex-direction: row-reverse; */
  /* flex-wrap: wrap-reverse; */

  /* flex-flow = flex-direction + flex-wrap */
  /* flex-flow: row-reverse wrap; */

  /* 4 justify-content */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */

  /* 5 align-items / align-self / align-content */
  /* align-items: stretch; */
  /* align-items: center; */

  /* flex-wrap: wrap;
  align-content: space-around;
  align-content: space-evenly; */


}
/* 5 align-items / align-self / align-content */
/* li:nth-child(3) {
  border: 1px solid red;
  align-self: flex-start;
} */

 /* 6,7 flex-grow / flex-shrink / flex-basis / flex */
li{
  background-color: gray;
}
li:nth-child(2n) {
  background-color: orange;
}
li:nth-child(2) {
  /* flex-grow: 0; */
  /* flex-shrink: 0; */
  /* flex-basis: 100px; */
  /* flex-shrink: 2; */

  /* flex: 0 1 auto; */
  /* flex: 1 1 200px; */
}
li:nth-child(3) {
  /* flex-grow: 2; */
  /* flex-shrink: 3; */
  /* flex-basis: 200px; */
  /* flex-shrink: 3; */
}

  /* 8 ////////////////////////////////////////////////////////////////////////////////////////// */
/* li:nth-child(1) { order: 5;} */
li:nth-child(2) { order: 4;}
li:nth-child(3) { order: 3;}
/* li:nth-child(4) { order: 2;} */
li:nth-child(5) { order: -1;}




