*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  /* 1 ////////////////////////////////////////////////////////////////////////////////////////// */
  display: flex;
  /* display: inline-flex; */
  padding: 0;
  list-style-type:  none;
  height: 300px;

  /* 2 ////////////////////////////////////////////////////////////////////////////////////////// */
  /* flex-direction: row-reverse; */
  /* flex-wrap: wrap-reverse; */

  /* flex-flow = flex-direction + flex-wrap */
  /* flex-flow: row-reverse wrap; */

  /* 3 ////////////////////////////////////////////////////////////////////////////////////////// */
  /* justify-content: flex-start; */
  /* justify-content: flex-end; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */

  /* 4 ////////////////////////////////////////////////////////////////////////////////////////// */
  /* align-items: stretch; */
  /* justify-content: center; */

  align-items: center;
  /* align-content: center; */

  flex-wrap: wrap;

}

li:nth-child(3) {
  border: 1px solid red;
  /* align-self: flex-start; */
}
