@import url(reset.css);

#header {
	height: 70px;
	background-color: red;
}

#visual {
	height: 171px;
	background-color: yellow;
}

#body {
	height: 300px;
	background-color: rgb(169, 250, 169);
}

#footer {
	height: 100px;
	background-color: rgb(206, 126, 206);
}