@import url(css/reset.css);

.s1 ul{
    display: flex;
    --flex-direction: row; /* 옆으로 적재된다. */
    --flex-wrap: wrap;
    flex-flow: column wrap;
    /* flex-direction: column; 아래로 적재된다. */
    background-color: gray;
    height: 250px;
}

.s1 li{
    flex: 1 1 100px; /* 0 1 auto 기본값이야GSB */
}

.s1 li:nth-child(1) {
    background-color: red;
}

.s1 li:nth-child(2) {
    background-color: green;
    --flex-grow:3;
}

.s1 li:nth-child(3) {
    background-color: blue;
    --flex-shrink: 0; /* shrink */
}

.s1 li:nth-child(4) {
    background-color: yellow;
}

.s1 li:nth-child(5) {
    background-color: lightblue;
    }